@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
body{
}
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
.img1{
    justify-self: right;
    padding: 0;
    width: 80%;
    font: 50px piedra;
}
.img2{
    padding: 0;
    justify-self: left;
    width: 80%;
}
.boton{
    width: 50%;
    align: center;
}
.texto{
    align-self: center;
}

{"URL":["https://www.sic.gov.co/sites/default/files/documentos/042020/RESOLUCIO%CC%81N%20NO_%20000078%20DE%202020.pdf"],"texto":["link1"],"pos":[36]}