@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,300;1,400&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700&display=swap');
body{
    display: center;
}
.fondo{
    background-image: url("/assets/img/fondo2.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    position: absolute;
    background-size: 100%;
}
.container{
    width: 65%;
    margin: auto;
    opacity: 1;
}
.head{
    text-align: center;
    grid-template-rows: 100%;
    background-color: rgba(255,183,31,1);
    padding: 0px 0px 0px 0px;
    font: 4vw Fira Sans Condensed;
}
.boton{
    display: inline-flex;
    margin: auto;
    width: 100%;
    border-radius: 10px;
    align-content: center;
    padding: 0 0 3% 0;
}
.boton1{
    margin: auto;
    align-content: center;
    border-radius: 10px;
    background-color:rgba(255,183,31,1);
    font: 2vw Fira Sans Condensed;
    color: black;
    height: 50px;
}
.boton1:hover{
    margin: auto;
    align-content: center;
    border-radius: 10px;
    border-color: white;
    background-color: rgba(255,183,31,.5);
    font: 2vw Fira Sans Condensed;
    color: white;
    height: 50px;
}
.pregunta{
    /* up right*/
    display: block;
    text-align: justify;
    padding: 0px 20px 0px 20px;
}
.enunciado{
    padding: 0 0 10px 0;
    font: 2vw Acme;
}
.respuesta{
    padding: 0 0 10px 0;
    font: 1.5vw Muli;
}
.respuesta_txt:hover{
    background-color: rgba(255,183,31,.5);
    border-radius: 10px;
}
.texto{
    padding: 0 0 10px 0;
    font: 2vw Muli;
}
.respuestas_c{
    display: grid;
    grid-template-columns: 50% 50%;
}
.respuestas_s{
    display: inline;
}
.imagen{
    display: block;
    justify-self: right;
    margin: auto;
    max-width: 100%;
    height: auto;
    align-content: center;
}
.respuestas{
    padding: 10%;
}
.mensaje{
    background-color: rgba(255,0,0,.4);
    font-size: 2vw;
    border-radius: 100px;
    padding: 0 0 0 100px;
    width: 75%;
}
.dnombre{
    margin: auto;
    display: inline-flex;
    width: 100%;
    justify-content: left;
    padding: 0% 0 10% 2%;
}
input[type="text"]
{
    font: 2.1vw Muli;
    border-radius: 20px;
    border-style: dotted;

}
input[type="text"]:focus {
    box-shadow: 0 0 3pt 2pt rgba(255,183,31,.5);
    border: none;
    outline-style: none;
}
#container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    box-sizing: border-box;
    padding: 0 0 5% 0;
}
#derecha{
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
}
#izquierda{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    box-sizing: border-box;
}
.cuadro{
    border-color: rgb(0, 0, 0);
    background-color: rgba(255,183,31,.5);
    height: 100%;
    width: 25vw;
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    padding: 10px;
    font: 1.5vw Muli;
}
.vacio{
    border-color: rgb(0, 0, 0);
    box-sizing: border-box;
    background-color: cornsilk;
    height: 7vw;
    width: 18vw;
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}
#cont_resp{
    width: 75%;
    height: 100%;
    padding: 0% 0% 5% 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#lnombre{
    font: 3vw Acme;
}
.negrilla{
    font: 1.5vw Muli;
    font-weight: 900;
}